In [5]:
import pandas as pd
data = pd.read_csv("./LNPR_BOOK_CODES/sensor_data/sensor_data_200.txt", delimiter=" ", header=None, names = ("data", "time", "ir", "lidar"))
data

       20180122  095819  305  214
0      20180122   95822  299  211
1      20180122   95826  292  199
2      20180122   95829  321  208
3      20180122   95832  298  212
4      20180122   95835  327  212
...         ...     ...  ...  ...
58982  20180124  120023  313  208
58983  20180124  120026  297  200
58984  20180124  120030  323  204
58985  20180124  120033  326  207
58986  20180124  120036  321  208

[58987 rows x 4 columns]